{{#*inline "page"}}

    <div class="container-md bg-dark p-2 mt-4 rounded">
        <div class="text-center mb-3">
            <h2 style="color: #25cff2" class="fw-bolder text-capitalize mb-2">{{users_name}}'s 2021 events:</h2>
        </div>
        {{#if can_edit}}
            <a href="/2021/add" class="btn btn-dark">
                Add event
            </a>
        {{/if}}
        <div class="accordion bg-white rounded" id="evt-list">

            {{#each events}}

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h-{{@index}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-{{@index}}" aria-expanded="false" aria-controls="c-{{@index}}">
                        <span class="fw-bold">{{this.date}}</span> - {{this.title}}
                    </button>
                    </h2>
                    <div id="c-{{@index}}" class="accordion-collapse collapse" aria-labelledby="h-{{@index}}">
                        <div class="accordion-body">
                            {{this.body}}
                        </div>
                    </div>
                </div>

            {{/each}}
        </div>
    </div>

{{/inline}}
{{~>layout~}}